@{
    ViewData["Title"] = "Creditos";
}



@{
    ViewData["Title"] = "Acerca de Agro.rob";
}
<h1>@ViewData["Title"]</h1>

<h2>Proyecto de agricultura</h2>

<div>
    <p>Jeniffer Guañuna</p>
    <p>Estudiante de Desarrollo de software</p>
    <p>jeny.guanuna@gmail.com</p>
    
</div>
